/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@charset "UTF-8"

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  border: 0;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/************************************/
/** Mobil Optimized First **/
/************************************/

/*******************************************************/
/** Navbar Section **/
/*******************************************************/
header ul {
  background-color: rgba(190, 152, 228, 0.3);
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column wrap;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: #5b2b5b;
}
/** Enlarges the navbar icons**/
.zoom:hover {
  transform: scale(1.2);
}

/*******************************************************/
/**Home Page**/
/*******************************************************/
.home {
  /*class positioned on html element */
  background-image: url("../img/test-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper-home {
  width: 90%;
  text-align: center;
}

h1 {
  margin: 0;
  color: #000000;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  font-variant: small-caps;
  color: #5b2b5b;
  font-size: 2em;
  padding-top: 30px;
}

h2 {
  margin: 0;
  color: #000000;
  font-weight: bold;
  text-align: center;
  line-height: 1.1em;
  font-variant: small-caps;
  color: #5b2b5b;
  font-size: 1.8em;
  padding-top: 10px;
}

/** Footer **/
.home-footer {
  margin:0;
  padding-top: 200px;
  text-align: center;
  font-size: .8em;
  color: #5b2b5b;
}

/*******************************************************/
/** About Page **/
/*******************************************************/

.about{
  /*class positioned on html element */
  /*Background image*/
  background-color: #e0dde8;
  /*background-image: url("../img/bernard-hermant-X-Bu9X6gok0-unsplash2.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}

.about-h1 {
  padding: 40px 0 5px 0;
}

.about-content-container {
  margin: 0;
  padding: 0;
}

.about-content-container a {
  text-decoration: none;
  color: #5b2b5b;
  font-weight: bold;
}

.about-img {
  /*Rounded Corners of image */
  border-radius: 800px;
  /*Below 4 lines to center img horizantally in parent */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.about-content-container p {
  color: #5b2b5b;
  font-size: 1.2em;
  padding: 0 15px;
  text-align: justify;
  line-height: .95em;
}

/*******************************************************/
/** Portfolio Page **/
/*******************************************************/
/*class positioned on html element */
.portfolio{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #e0dde8;
}

.portfolio h1 {
  margin-bottom: 20px;
}

.project {
  width: 350;
  height: auto
  padding-bottom: 20px;
  /*Below 3 lines are centering the 
  child element .portrait */
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.portrait {
  /*Need bottom 3 lines to center these children */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*spacing between img and wording */
  margin-top: 5px;
  margin-bottom: 25px;
  /*"Netflix code" - Below 3 used to size 
  images inside of the parent 
  container .project */
  height: auto;
  object-fit: cover;
  width: 50%; 
}

.project-container  {
  text-align: center;
  
}

/*Wording above project images */
.project-container a {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #5b2b5b;
  font-variant: small-caps;
}

/*******************************************************/
/** Folder Syles on Portfolio Page **/
/*******************************************************/

.folder-1{
 -webkit-perspective: 500px;
  perspective: 500px;
  width: 280px;
  height: 80px;
  background: #A16DA8;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  border-top-right-radius: 5px;
  cursor: pointer;
 /*-webkit-transition: all 400ms ease;
  transition: all 400ms ease;*/
}
  /*Tab*/
  .folder-1::before{
    width: 138px;
    height: 20px;
    color: white;
    content: 'Javascript Projects';
    letter-spacing: .5px;
    text-align: center;
    background: #A16DA8;
    position: absolute;
    top: -15px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /*Top or front facing side of folder */
  .folder-1::after{
    width: 283px;
    height: 190px;
    position: absolute;
    content: '';
    background: #8D6DA8;
    top: 40px;
    left: -1px;
    box-shadow: 0 0 20px 2px fade(#000, 30%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  }

/*sheet of paper */
.folder-inside-1{
  width: 260px;
  height: 180px;
  position: absolute;
  background: #fff;
  top: 20px;
  left: 10px;
  box-shadow: 0 0 5px 5px fade(#000, 5%);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  }
  /*lines on paper */
  .folder-inside-1:before{
    content: '';
  background: -webkit-repeating-linear-gradient(145deg, #fff, #fff 10px, #333 7px, #333 20px);
  background: repeating-linear-gradient(-3deg, #fff, #fff 19px, #333 7px, #333 20px);
    position: absolute;
    top: -37px;
    left: 45px;
    width: 170px;
    height: 255px;
    color: #343434;
    font-size: 60px;
    line-height: 30px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0.15;
  }
 
 /*Creates movement for entire folder */
 .folder-1:hover{
   -webkit-transform: translate(-50%, -52%);
   transform: translate(-50%, -52%);
  }
  /*Creates movement for the "after" folder or 
  most front facing side */
  .folder-1:hover:after {
     -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);    
  }
/*Creates movement for paper inside the folder */
  .folder-inside-1:hover{
  -webkit-transform: rotate(-7deg) translateY(-15%);
  transform: rotate(-7deg) translateY(-15%);
  }  
 /*******************************************************/
.folder-2{
 -webkit-perspective: 500px;
  perspective: 500px;
  width: 280px;
  height: 80px;
  background: #A16DA8;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-top-right-radius: 5px;
  cursor: pointer;
}
  /*Tab*/
  .folder-2::before{
    width: 138px;
    height: 20px;
    color: white;
    content: 'Website Projects';
    letter-spacing: .5px;
    text-align: center;
    background: #A16DA8;
    position: absolute;
    top: -15px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /*Top or front facing side of folder */
  .folder-2::after{
    width: 283px;
    height: 190px;
    position: absolute;
    content: '';
    background: #8D6DA8;
    /*background: darken(tomato, 7%);*/
    top: 40px;
    left: -1px;
    box-shadow: 0 0 20px 2px fade(#000, 30%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  }

/*sheet of paper */
.folder-inside-2{
  width: 260px;
  height: 180px;
  position: absolute;
  background: #fff;
  top: 20px;
  left: 10px;
  box-shadow: 0 0 5px 5px fade(#000, 5%);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  }
  /*lines on paper */
  .folder-inside-2:before{
    content: '';
  background: -webkit-repeating-linear-gradient(145deg, #fff, #fff 10px, #333 7px, #333 20px);
  background: repeating-linear-gradient(-3deg, #fff, #fff 19px, #333 7px, #333 20px);
    position: absolute;
    top: -37px;
    left: 45px;
    width: 170px;
    height: 255px;
    color: #343434;
    font-size: 60px;
    line-height: 30px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0.15;
  }
 
 /*Creates movement for entire folder */
 .folder-2:hover{
   -webkit-transform: translate(-50%, -52%);
   transform: translate(-50%, -52%);
  }
  /*Creates movement for the "after" folder or 
  most front facing side */
  .folder-2:hover:after {
     -webkit-transform: rotateX(-20deg);
    transform: rotateX(-20deg);    
  }
/*Creates movement for paper inside the folder */
  .folder-inside-2:hover{
  -webkit-transform: rotate(-7deg) translateY(-15%);
  transform: rotate(-7deg) translateY(-15%);
  }  
/*******************************************************/
/** Javascript Project Page **/
/*******************************************************/
.js-project-container {
  text-align: center;
  width: 95%;
  margin: auto;
}

/*Wording above project images */
.js-project-container a {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #5b2b5b;
  font-variant: small-caps;
  font-size: 1.3em;
}
#embed-container-clock { 
  position: relative; 
  padding-bottom: 10.25%; 
  height: auto; 
  overflow: hidden;
  margin: 0 auto 0 auto; 

} 

#embed-container-calculator { 
  position: relative; 
  padding-bottom: 10.25%; 
  overflow: hidden;
  margin: 0 auto 10px auto; 
} 

.embed-container iframe, 
/*.embed-container object, 
.embed-container embed*/ { 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
}

.space {
  height: 5px;
}

/*******************************************************/
/** Contact Page **/
/*******************************************************/

.contact {
  /*class positioned on html element */
  background-color: #e0dde8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-email {
  text-align: center;
  text-decoration: none;
  color: #5b2b5b;
  /*Spacing between h1 and email*/
  margin: 25px 0;
}

.contact-email:hover {
  transform: scale(1.2);
}

.contact-email a {
  text-decoration: none;
  color: #5b2b5b;
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: bold;
}

.contact-email i {
  font-size: 2em;
  vertical-align: middle;
  margin: 25px 0;
}

.contact-social {
  text-align: center;
}

.contact-social i {
  color: #5b2b5b;
  font-size: 2.5em;
  margin-top: 50px;
  /*Spacing between icons */
  padding:0 20px;
}

/* =====================================================
    **** Tablet Styles ****
   =====================================================*/
@media(min-width: 768px){
  /*******************************************************/
  /**** Navbar styles Tablet ****/ 
  /*******************************************************/
  header ul {
    justify-content: center;
    flex-flow: row wrap;
    list-style: none;
    /* Thickness of purple navbar color*/
    padding: 30px 0;
  }
  header ul li a {
    /*Distane between nav links */
    padding: 0 15px;
    letter-spacing: .08em;
    font-size: 1.5em;
  }
  /*******************************************************/
  /**** General Heading Styles - Tablet ****/
  /*******************************************************/
  h1 {
    padding: 60px 0 30px 0;
    font-size: 3.5em;
    letter-spacing: .08em;
  }
  h2 {
    font-size: 3em;
    letter-spacing: .08em;
  }
  /*******************************************************/
  /**** Home Page Styles - Tablet ****/
  /*******************************************************/
  .home-footer {
    margin:0;
    padding-top: 430px;
    text-align: center;
    font-size: 1em;
    color: #5b2b5b;
  }
  /*******************************************************/
  /**** About Page Styles - Tablet ****/
  /*******************************************************/
  .about-img {
  /*Rounded Corners of image */
    border-radius: 40px;
    display: inline;
    width: 30%;
  }
  .about-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }
  .about-content-container img {
    flex: 1;
    margin: 0 10px 45px 10px;
  }
  /**Div holding written section **/
  .about-content-container div {
    flex: 2;
    margin: 0 10px;
    padding-top: 15px;
  }
  .about-content-container p {
    color: #5b2b5b;
    font-size: 1.5em;
    line-height: 1em;
  }
  
  /*******************************************************/
  /**** Portfolio Page Styles - Tablet ****/
  /*******************************************************/
   .portfolio {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  /*Wording under project images */
  .project-container a {
    font-size: 1.5em;
  }
  .embed-container { 
    position: relative; 
    padding-bottom: 26.25%; 
    height: 0; 
    overflow: hidden;
    margin: 0 auto 10px auto; 
  } 
 /*******************************************************/
  /**** Javascript Project Page Styles - Tablet ****/
  /*******************************************************/

/*Wording above project images */
  .js-project-container a {
    font-size: 1.5em;
  }
  #embed-container-clock { 
    padding-bottom: 10.25%; 
  } 

  #embed-container-calculator { 
   padding-bottom: 60.25%; 
  } 

  .space {
    height: 10px;
  }

  #calculator {
    width: 400px;
    height: 400px;
  }
 
  /*******************************************************/
  /**** Contact Page Styles - Tablet ****/
  /*******************************************************/
  .contact-email a {
    font-size: 1.2em;
  }

/********************************************************/
/**** Portfolio Folder Syles - Tablet ****/
  /*******************************************************/
.folder-1{
  width: 320px;
  height: 140px; 
  top: 35%;
  left: 50%;
}
  /*Tab*/
  .folder-1::before{
    width: 145px;
    height: 20px;
    letter-spacing: .6px;   
    top: -15px;
  }

  /*Top or front facing side of folder */
  .folder-1::after{
    width: 325px;
    height: 190px;
  }
/*sheet of paper */
.folder-inside-1{
  width: 290px;
  height: 180px;
  top: 20px;
  left: 15px;
  }
  /*lines on paper*/
  .folder-inside-1:before{
    top: -40px;
    left: 60px;
    width: 180px;
    height: 280px;
  }
 
 /**************************************/
 .folder-2{
  width: 320px;
  height: 140px; 
  top: 65%;
  left: 50%;
}
  /*Tab*/
  .folder-2::before{
    width: 145px;
    height: 20px;
    letter-spacing: .6px;   
    top: -15px;
  }

  /*Top or front facing side of folder */
  .folder-2::after{
    width: 325px;
    height: 190px;
  }
/*sheet of paper */
.folder-inside-2{
  width: 290px;
  height: 180px;
  top: 20px;
  left: 15px;
  }
  /*lines on paper*/
  .folder-inside-2:before{
    top: -40px;
    left: 60px;
    width: 180px;
    height: 280px;
  }
}
/* =====================================================
    **** Additional Tablet Styles- Ipad-Pro Size****
   =====================================================*/
@media(min-width: 1000px){
  /**Adjustment to how writting lined up with img */
  .about-content-container div {
    padding-bottom: 80px;
    padding-top: 0;
  }

  /*Placement*/
.folder-1{
  top: 55%;
  left: 25%;
}

 /*****************/
 /*Placement*/
 .folder-2{
  top: 55%;
  left: 75%;
}

  }

/* =====================================================
   **** Desktop Styles **** 
   =====================================================*/
@media(min-width: 1200px){
  /*******************************************************/
  /**** Home Page Styles -Desktop ****/
  /*******************************************************/
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.5em;
  }

  /*******************************************************/
  /**** About Page Styles -Desktop ****/
  /*******************************************************/
  .about {
   padding-bottom: 50px;
  }
  .about-content-container {
    width: 90%;
    margin: auto; 
  }
  /**Div holding written section **/
  .about-content-container div {
    padding-bottom: 40px;
    padding-top: 0;
  }
  .about-content-container p {
    color: #5b2b5b;
    font-size: 1.8em;
    line-height: 1.3em;
  }

  /*******************************************************/
  /**** Contact Page Styles -Desktop ****/
  /*******************************************************/
  .contact {
   padding-bottom: 0;
  }
  
  .contact-social i {
  margin-top: 10px;
  }
  .contact-email {
  /*Spacing between h1 and email*/
  margin: 0;
  }

  /*******************************************************/
  /**** Portfolio Page Styles -Desktop ****/
  /*******************************************************/
  .portfolio {
    padding-bottom: 10px;
  }
  .project-container {
    /*See notes in tablet section */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5%;
    margin: auto;
    width: 80%;
  }
  /*Wording above project images */
  .project-container a {
    font-size: 1.5em;
  } 
  /*Wording above project images */
  .project-container a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #5b2b5b;
    font-variant: small-caps;
  }
  /*JS clock project */
   .embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    margin: 0 auto 10px auto; 
  } 

 /*******************************************************/
  /**** Javascript Project Page Styles - Desktop ****/
  /*******************************************************/

/*Wording above project images */
  .js-project-container a {
    font-size: 2.2em;
  }
  #embed-container-clock { 
    padding-bottom: 3.25%; 
  } 
  #embed-container-calculator { 
    padding-bottom: 40.25%; 
    margin: 0;
  } 
  .space {
    height: 10px;
  }
  #calculator {
   width: 380px;
   height: 400px;
  }
  /*******************************************************/
  /**** Portfolio Folder Styles - Desktop ****/
  /*******************************************************/
/*Placement*/
.folder-1{
  top: 55%;
  left: 25%;
}

 /*****************/
 /*Placement*/
 .folder-2{
  top: 55%;
  left: 75%;
}

} /** @media end bracket **/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

